# URL da API Backend pública (Browser)
NEXT_PUBLIC_API_URL=http://localhost:3000/

# URL interna da API no cluster/rede (SSR)
API_URL_SERVER_SIDED=http://localhost:3000

# NextAuth Configurações
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=sua_secret_key_aqui

# Google OAuth
GOOGLE_CLIENT_ID=seu_client_id_aqui
GOOGLE_CLIENT_SECRET=seu_client_secret_aqui

# URL da Logo Oficial
NEXT_PUBLIC_APP_LOGO_URL=url_da_logo_aqui
